 body {
  background-color: rgba(230,143,226,1);
  
  background-image: url(../vaporwave.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'VT323', monospace;
  line-height: 1.4;

}

a:hover {
  text-decoration: none;
}

header h1 {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  color: #3fe45e;
}

.menu {
  margin: 0 auto;
  max-width: 300px;
  min-width: 200px;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1.3em;
}

header {
  text-align: center;
}

input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  font-size: 1.2em;
}

#main {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#main p {
  text-align: center;
  margin: 0 auto;
  font-size: 6rem;
  color: #3fe45e;
  line-height: 1.2;
}

@media screen and (min-width: 800px) {
  #main p {
    font-size: 12rem;
    line-height: 1.4;
  }
}

.start-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  line-height: 25px;
  font-weight: bold;
  padding-left: 31px;
  padding-right: 7px;
  height: 40px;
  line-height: 40px;
  background-image: url('../win95.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 5px center;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-right: 2px solid #222;
  ;
  border-bottom: 2px solid #222;
  ;
  border-left: 2px solid white;
}

.start-btn:hover {
  border-right: 2px solid white;
  border-top: 2px solid #222;
  ;
  border-left: 2px solid #222;
  ;
  border-bottom: 2px solid white;
}